$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');



#{$a-tags} {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold; 
    color:#ffefff;
    // transition: all .2s ease-in;
  }
#{$a-tags-hover} {
    color: rgb(100,220,220);
    text-shadow:0px 0px 30px rgb(100,220,220);
    // font-size: 1.1rem;
  }


$light-blue: #A5E5D4;
$blue: white;
$pink: #D93DA5;
$black: #1D1E22;


.nav {
    position: absolute;
    top:0px;
    right:10%;
    display: flex;
    justify-content: flex-end;
    z-index: 99;
}
.link {
    background-image: url("./Assets/NavTest.png");
    width: 200px;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width:40%;
    // background: rgba(0,0,0,0.5);
    margin: 20% 30% 0 5%;
}

h1, h6 {
	padding: 0;
    margin: 0;
    text-align: left;
    font-size: 5rem;
    color: black;
    font-family: 'M PLUS 1p', sans-serif;
}


.sub {
	color: black;
	letter-spacing: .5em;
}


.video-background {
    background: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -99;
    &::after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
    .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
    .video-foreground { width: 320%; left: -100%; }
    .wrapper {margin: 0; width: 100%;}
}

#crystals {
    position:absolute;
    top:0;
    left:0;
    width:480px;
    height:100%;
    background:transparent;
}
.crystal_01 {
    position:absolute;
    width:100%;
    height:100%;
    background:url(http://img.finalfantasyxiv.com/lds/promo/pc/global/images/world/what/crystal_01.png)repeat-y;
}
.crystal_02 {
    position:absolute;
    width:100%;
    height:100%;
    background:url(http://img.finalfantasyxiv.com/lds/promo/pc/global/images/world/what/crystal_02.png)repeat-y;
}
.crystal_03 {
    position:absolute;
    width:100%;
    height:100%;
    left:50%;
    margin-left:-180px;
        background:url(http://img.finalfantasyxiv.com/lds/promo/pc/global/images/world/what/crystal_03.png)repeat-y;
}

.shape{
    z-index: -1;
    position:absolute;
    top:0;
    left:-20%;
    width: 50%;
    height: 100%;
    transform:skew(-20deg);
    background: rgba(255, 255, 255, 0.5)
}

.text {
	position: relative;
	padding-left: 30px;
	font-size: 20px;
	color: black;

	// +font-family;
	// +text-shadow($light-blue)

	&::after, &::before {
		content: attr(data-decrypted-text);
		position: absolute;
		opacity: 0;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding-left: 30px;
		overflow: hidden;
		color: $blue;
    }
	&::before {
		z-index: -2;
		color: $pink;
    }
	&.glitch-writing {
		animation: glitch-skew 1s steps(10, end) infinite alternate-reverse;

		&::after, &::before{
            opacity: 1;
        }

		&::after {
			animation: glitch-animation-1 1.5s steps(20, end) infinite alternate-reverse;
        }
		&::before {
            animation: glitch-animation-2 2s steps(20, end) infinite alternate-reverse;
        }
    }
	@keyframes glitch-skew {
		$steps: 10;

		@for $i from 0 through $steps {
			#{percentage($i * 1 / $steps)} {
                transform: skew(random(10) - 5 + deg)
            }
            
        }
    }

	@keyframes glitch-animation-1{
		$steps: 20;

		@for $i from 0 through $steps{
			#{percentage($i * 1 / $steps)} {
				clip: rect(random(100) + px, 1000px, random(100) + px, 0);
                transform: skew(random(16) - 8 + deg) translatex(random(30) - 15 + px);
            }
        }
    }

	@keyframes glitch-animation-2 {
		$steps: 20;

		@for $i from 0 through $steps{
			#{percentage($i * 1 / $steps)}{
				clip: rect(random(100) + px, 1000px, random(100) + px, 0);
                transform: skew(random(10) - 5 + deg) translatex(random(20) - 10 + px);
            }
        }
    }
}
