


.rightContainer{
    right: 25px;
    width: 700px;
    top: 45px;
    position: absolute;
    -webkit-animation: fade-in-right 4s cubic-bezier(0.680, -0.550, 0.265, 1.550) 2s both;
    animation: fade-in-right 4s cubic-bezier(0.680, -0.550, 0.265, 1.550) 2s both;
}
.buttonContainer{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    .exportBtn{
        text-decoration: none;
        text-align: center;
        padding: 4px 10px;
        color: black;
        margin-top:20px;
        margin-left: 4.5%;
        font-family: 'M PLUS 1p', sans-serif;
        background-color: rgba(255, 255, 255, 0.5);
        border: solid 1px black;
        cursor:pointer;
        &:focus{
            outline: none;
            box-shadow: none;
        }
        &:hover{
            color:white;
            background-color: black;
        }
    }
    .disabled{
    
        background-color: rgba(0, 0, 0, 0.8);
        cursor: not-allowed;
        pointer-events: none;
        &:hover{
            color:black;
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
}



.cardContainer{
    overflow-y: scroll;
    min-height: 80%;
    max-height: 80vh;
    margin-top: 5px;
    font-family: 'M PLUS 1p', sans-serif;   
}
.itemCard{
    background: rgba(255,255,255,.7);
    margin: 10px 5px 0 auto;
    padding: 10px;
    width: 70%;
    border-radius: 20px;
    display:flex;  
        .topCardContainer{
            width: 80%;
            display: flex;
            justify-content: space-around;

            .itemIcon{
                width: 60px;
                height: 60px;
            }
            .requestDescrip{
                display: flex;
                width: 70%;
                flex-direction: column;
                justify-content: space-between;
                .Crafter{  
                    img{
                        border-radius: 50%;
                        margin-left: 5px;
                        margin-bottom: -3px;
                        max-width: 20px;
                        max-height: 20px;
                    }
                }
            }
            
        

        }
    
}




.requestOptions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .completed{
        padding: 0 5px;
        border-radius: 5px;
        background-color: #3CB371;
        border: solid 1px black;
    }
    .uncompleted{
        padding: 0 5px;
        border-radius: 5px;
        background-color: #FF7F50
        ;
        border: solid 1px black;
    }
    .btn{
        border: solid 1px black;
        border-radius: 5px;
        text-align: center;
        background-color: white;
        margin-top: 3px;
        cursor:pointer;
        &:hover{
            background-color: black;
            color:white;
        }
        &.selected{
            background-color: #FF7F50;
        }
    }
}






